@import './layaut/card-columns.scss';
@import './layaut/modal.scss';

.gallery {
	img {
		transition: transform .3s;
		transform: scale(1);
	}

	.card {
		cursor: pointer;
		overflow: hidden;
		position: relative;

		&:hover img {
			transform: scale(1.08);
		}
	}
}

.gallery__text {
	color: #30BF9E;
	cursor: pointer;
}

.icon-instagram {
	@include postions(absolute, null, 30px);
	bottom: 5%;
	right: 5%;
	background-color: white;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,.2);

	svg {
		fill: #30BF9E;
	}

	&.animate__zoomIn, .animate__zoomOut {
		animation-duration: .1s;
	}
}

@media (max-width: 400px) {
	.icon-instagram {
		width: 45px;
		height: 45px;
	}
}