.hero {
	height: 460px;
	overflow: hidden;
	background-image: url('../img/hero-bg.jpg');
	background-position: center center;
	@extend %background_img; 

	video {
	    position: absolute;
		min-width: 100%;
	}
	
	.opacity_video {
		opacity: 0;
	}
}