@import '../layaut/icons_navbar.scss';

.navbar {
	transition: background-color .5s, transform .5s;
	position: fixed !important;

	&.fixed-top {
		z-index: 4;
	}

	@import '../layaut/btn_navbar.scss';
}

.links {
	background-color: white;
	@include postions(fixed, 80px, 100%);

	.navbar-nav {
		transition: height .5s;
	}

	&.animate__slideInLeft, .animate__slideOutLeft {
		animation-duration: .5s;
	}
}

.hideMenu {
	display: none;
}

@media (min-width: 992px) {
	.navbar {
		.btn {
			font-size: 1.2rem;
			font-weight: normal;
		}
	}

	.navbar-nav {
		height: 10vh !important;
	}

	.links {
		background-color: transparent;
		@include postions(relative, 0, null);

		&.animate__slideOutLeft {
  			-webkit-animation-name: none;
  			animation-name: none;
		}
	}

	.bars_close {
		display: none;
	}
}