.navbar {
	transition: background-color .5s, transform .5s;
	position: fixed !important;
	z-index: 1;

	.bars_close {
		cursor: pointer;
	}

	.btn {
		color: white;
		font-size: 1.7rem;
		font-weight: bold;
		transition: color 1s;

		&:hover {
			color: white;
		}

		&:focus {
			box-shadow: none;
		}
	}

	svg {
		transition: fill .5s;
	}
}

.menuActive {
	background-color: #F6F6F6;
	box-shadow: 0 1px 1px #D6D6D6;

	.btn {
		color: black !important;
	}

	svg {
		fill: black;
	}
}

.links {
	background-color: white;
	position: fixed;
	top: 80px;
	width: 100%;

	.navbar-nav {
		transition: height .5s;
	}

	&.animate__slideInLeft, .animate__slideOutLeft {
		animation-duration: .5s;
	}
}

.hideMenu {
	display: none;
}

@media (min-width: 992px) {
	.navbar {
		.btn {
			font-size: 1.2rem;
			font-weight: normal;
		}
	}

	.navbar-nav {
		height: 10vh !important;
	}

	.links {
		background-color: transparent;
		position: relative;
		top: 0;

		&.animate__slideOutLeft {
  			-webkit-animation-name: none;
  			animation-name: none;
		}
	}

	.bars_close {
		display: none;
	}
}